<div id="<%= dom_id country_data_final %>">
  <p>
    <strong>Name:</strong>
    <%= country_data_final.name %>
  </p>

  <p>
    <strong>Mobilephones:</strong>
    <%= country_data_final.mobilephones %>
  </p>

  <p>
    <strong>Mortalityunder5:</strong>
    <%= country_data_final.mortalityunder5 %>
  </p>

  <p>
    <strong>Healthexpenditurepercapita:</strong>
    <%= country_data_final.healthexpenditurepercapita %>
  </p>

  <p>
    <strong>Healthexpenditureppercentgdp:</strong>
    <%= country_data_final.healthexpenditureppercentgdp %>
  </p>

  <p>
    <strong>Population:</strong>
    <%= country_data_final.population %>
  </p>

  <p>
    <strong>Populationurban:</strong>
    <%= country_data_final.populationurban %>
  </p>

  <p>
    <strong>Birthrate:</strong>
    <%= country_data_final.birthrate %>
  </p>

  <p>
    <strong>Lifeexpectancy:</strong>
    <%= country_data_final.lifeexpectancy %>
  </p>

  <p>
    <strong>Gdp:</strong>
    <%= country_data_final.gdp %>
  </p>

</div>
